<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>API Documentation</title>

<!-- CSS (load bootstrap from a CDN) -->
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="../styles/index.css">
<style>
    body {
        padding-top: 50px;
    }
</style>